@import "../../../main-styles.scss";
.main-container {
  margin: auto;
  padding-top: 10px;
  margin-left: 20px;
  .search-bar {
    position: fixed;
    right: 0;
    margin-right: 20px;
  }

  .floating-add-button {
    position: fixed;
    left: 30px;
    width: 40px;
    border-radius: 1;
    box-shadow: 0px 0px 15px 5px rgba($purple, 0.2);
    height: 40px;
  }

  .note-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-grow: 1;
  }
}

app-note-card {
  display: block;
  margin-bottom: 20px;
}
